<div>File Upload</div>
<div class="kflex kblock" (change)="selectUploadFile($event)" [(ngModel)]="file">
    <div>
        <input type="file" class="file-input" style="display:none" [(ngModel)]="file" #fileUpload>
        <a>{{ file || "No file uploaded yet."}}</a>
    </div>
    <div class="kflex ">
        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()"
            onchange="console.log(event.target.files)" accept=".png,.jpg">
            <mat-icon>attach_file</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="upload-btn" [(ngModel)]="file" (click)="upload($event)">
            <mat-icon>upload</mat-icon>
        </button>
    </div>
</div>


<div class="kcard">
    <div class="fileSelectContainer">
        <div class="fbImageContainer">
            <div *ngIf="loading!=true">File View</div>
            <img id="input" class="fbImage" />
            <img id="input2" class="fbImage" />

        </div>

        <div class="kflexColumn">
            <div class="kbar kclick" id="{{file.name}}" *ngFor="let file of childArray ,let i = index"
                (click)="select(file[0])">
                <div>{{file[0]}}</div>
            </div>
        </div>
    </div>
</div>
<div class="kblock kflexColumn">
<div class="kbar ktable" *ngFor=" let x of fileMetadata| keyvalue">
    <div class="kbar"> {{x.key}}</div>
    <div class="kbar">{{x.value}}</div>
</div>
</div>