<div class="kround">
    <div class="ktitle">Shopping Cart</div>
    <div class="kround kcard"  *ngIf="cartHolder.length > 0">
        <div class="kbar ktable" *ngFor="let x of cartHolder">
            <div class="">{{x}}</div>
            <div class="ktable">
                <div class="kclick kround kcenterDeatil">
                    <span class="material-icons">edit</span>
                </div>
                <div class="kclick kround kcenterDeatil">
                    <span class="material-icons">delete</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="cartHolder.length > 0" class=" kcenterDeatil ktitle kclick kfullRound ">Checkout</div>
    <div *ngIf="cartHolder.length == 0" class=" kcenterDeatil ktitle- ">Empty cart</div>
</div>
