<div *ngIf="auth.user$!!" class="kround kcard">
    <div class="ktitle">Shopping Cart</div>
    <button class="" (click)="test()">demoAdd</button>
    <!-- item -->
    <div class=" ">
        <div class="kcard ktable " *ngFor="let x of items | async">
            <div class="kindent">
                <div class="">{{x.item}}</div>
                <div class="">{{x.id}}</div>
            </div>
            <div class="ktable">
                <div class="kclick kcenterDeatil">
                    <span class="material-icons">edit</span>
                </div>
                <div (click)="delete(x.id)" class="kclick kcenterDeatil">
                    <span class="material-icons">delete</span>
                </div>
            </div>
        </div>
    </div>
    <!-- item -->
    <div *ngIf="items == null" class=" kcenterDeatil ktitle ">Empty cart</div>
    <div *ngIf="auth.user$!!" routerLink="/checkout" class="kframe kcenterDeatil kround kclick ktitle">
        <div>Checkout</div>
    </div>
</div>