<div *ngIf="auth.user$!!" class="kround kcard">
    <div class="ktitle">Shopping Cart</div>
    <button class="" (click)="test()">demoAdd</button>
    <div class="kround kcard">
        <div class="kcard ktable" *ngFor="let x of items | async">
            <div class="">
                {{x.item}}
                <div class="">{{x.id}}</div>
            </div>
            <div class="ktable">
                <div class="kclick kcenterDeatil">
                    <span class="material-icons">edit</span>
                </div>
                <div (click)="delete(x.id)" class="kclick kcenterDeatil">
                    <span class="material-icons">delete</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="items == null" class=" kcenterDeatil ktitle ">Empty cart</div>
    <div *ngIf="auth.user$!!" routerLink="/checkout" class="kframe kcenterDeatil kfullRound kclick ktitle">
        <div>Checkout</div>
    </div>
</div>