<div class="kcard kround kratioh" *ngIf="task" (dblclick)="edit.emit(task)">
  <!-- <div>{{ task.title }}</div>
  <div>
    {{ task.description }}
  </div> -->
  <div>
    <div *ngIf="task.description=='1'">
      <app-img-slideshow></app-img-slideshow>
    </div>
    <div *ngIf="task.description=='2'">
      <app-task-flex></app-task-flex>
    </div>
    <div *ngIf="task.description=='3'">
      <app-task-grid></app-task-grid>
    </div>
    <div *ngIf="task.description=='4'">
      <app-task-detail></app-task-detail>
    </div>
  </div>
</div>