<mat-toolbar color="primary">
    <span>Home Page</span>
</mat-toolbar>

<div>
    <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
    <div *ngFor="let task of todo | async" >
        <div *ngIf="task.description=='1'">
            <app-img-slideshow></app-img-slideshow>
        </div>
        <div *ngIf="task.description=='2'">
            <app-task-flex></app-task-flex>
        </div>
        <div *ngIf="task.description=='3'">
            <app-task-grid></app-task-grid>
        </div>
        <div *ngIf="task.description=='4'">
            <app-task-detail></app-task-detail>
        </div>
    </div>
</div>


<!-- 


<div class="example-box" cdkDrag>
    <app-main-button></app-main-button>
</div> -->