<mat-toolbar color="primary">
    <span>Database Viewer</span>
</mat-toolbar>

<nav class="kcard kround" >
    
    <div class="kcenterDeatil kround kflex"> 
        
        <div routerLink="/checkout" href="#" id="home" class="kfullRound kbar kcenterDeatil kflex kblock kclick " >
            <span class="material-icons">upload</span>
            <span class="nav__text">Cart</span>
        </div>

        <div routerLink="/checkout" href="#" id="home" class="kfullRound kbar kcenterDeatil kflex kblock kclick " >
            <span class="material-icons">upload</span>
            <span class="nav__text">Cart</span>
        </div>
        
        <div routerLink="/summitForm" href="#" id="home" class="kfullRound kbar kcenterDeatil kflex kclick" >
            <span class="material-icons">upload</span>
            <span class="nav__text">Upload</span>
        </div>
        
        <div routerLink="/summitForm" href="#" id="home" class="kfullRound kbar kcenterDeatil kflex kclick" >
            <span class="material-icons">upload</span>
            <span class="nav__text">Upload</span>
        </div>
        
    </div>
</nav>

<div class="kcard kround kvflex">
    <app-cart></app-cart>
    <div routerLink="/checkout" class="kframe kcenterDeatil kfullRound kclick ktitle">
        <div>Checkout</div>
    </div>
</div>













<!-- 
<div class="kcard kround">
    <app-cart></app-cart>
</div>


<div class="kcard kround">
    <app-main-component></app-main-component>
</div> -->

 
<!-- 


<mat-tab-group [style.width]="'100vw'">
    <mat-tab label="Realtime Database">
        <app-fb-rtdb-nav-ui></app-fb-rtdb-nav-ui>
    </mat-tab>
    <mat-tab label="summit">
        <app-main-component></app-main-component>
    </mat-tab>
    <mat-tab label="Storage"> 
        <app-fb-storage-ui></app-fb-storage-ui>
    </mat-tab>

    <mat-tab label="Cloud Storage">
        <app-task-list></app-task-list>
    </mat-tab>


    
</mat-tab-group> -->






