<mat-toolbar color="primary">
    <div>Database Viewer</div>
</mat-toolbar>

<nav class="kcard kround">
    <div class="ktitle">Admin setting</div>

    <div class="kcenterDeatil kround kflex">
        <div class="kvflex">
            <div class="kvflex" routerLink="/checkout" href="#" id="home"
                class="kfullRound kratior kcenterDeatil kvflex kclick kfixSize">
                <div class="material-icons">shopping_cart</div>
            </div>
            <div class="kcenterDeatil">
                <div>Cart</div>
            </div>
        </div>

        <div class="kvflex">
            <div routerLink="/summitForm" href="#" id="home"
                class="kfullRound kratior kcenterDeatil  kvflex  kclick  kfixSize">
                <div class="material-icons">upload</div>
            </div>
            <div class="kcenterDeatil">Admin upload</div>
        </div>
        <div class="kvflex">
            <div routerLink="/fstorage" href="#" id="fstorage"
                class="kfullRound kratior kcenterDeatil kvflex kclick kfixSize">
                <div class="material-icons">image</div>
            </div>
            <div class="kcenterDeatil">Image</div>
        </div>
        <div class="kvflex">
            <div routerLink="/fcloud" href="#" id="fcloud"
                class="kfullRound kratior kcenterDeatil  kvflex  kclick  kfixSize">
                <div class="material-icons">folder</div>
            </div>
            <div class="kcenterDeatil">Page control</div>
        </div>
        <div class="kvflex">
            <div routerLink="/frtdb" href="#" id="home"
                class="kfullRound kratior kcenterDeatil  kvflex  kclick  kfixSize">
                <div class="material-icons">upload</div>
            </div>
            <div class="kcenterDeatil">Rtdb</div>
        </div>
    </div>
</nav>

<app-cart></app-cart>















<!-- 
<div class="kcard kround">
    <app-cart></app-cart>
</div>


<div class="kcard kround">
    <app-main-component></app-main-component>
</div> -->


<!-- 


<mat-tab-group [style.width]="'100vw'">
    <mat-tab label="Realtime Database">
        <app-fb-rtdb-nav-ui></app-fb-rtdb-nav-ui>
    </mat-tab>
    <mat-tab label="summit">
        <app-main-component></app-main-component>
    </mat-tab>
    <mat-tab label="Storage"> 
        <app-fb-storage-ui></app-fb-storage-ui>
    </mat-tab>

    <mat-tab label="Cloud Storage">
        <app-task-list></app-task-list>
    </mat-tab>


    
</mat-tab-group> -->