<mat-toolbar color="primary">
    <span>Database Viewer</span>
</mat-toolbar>

<nav class="kcard kround">

    <div class="kcenterDeatil kround kflex">
        <div>
            <div routerLink="/checkout" href="#" id="home" class="kfullRound kratior kvflex kcenterDeatil kclick ">
                <span class="material-icons">shopping_cart</span>
            </div>
            <span class="nav__text">Cart</span>
        </div>

        <div>
            <div routerLink="/summitForm" href="#" id="home" class="kfullRound kratior kcenterDeatil  kvflex  kclick">
                <span class="material-icons">upload</span>
            </div>
            <span class="nav__text">Upload</span>
        </div>
        <div>
            <div routerLink="/fstorage" href="#" id="fstorage" class="kfullRound kratior kcenterDeatil kvflex kclick">
                <span class="material-icons">image</span>
            </div>
            <span class="nav__text">Image</span>
        </div>
        <div>
            <div routerLink="/fcloud" href="#" id="fcloud" class="kfullRound kratior kcenterDeatil  kvflex  kclick ">
                <span class="material-icons">folder</span>
            </div>
            <span class="nav__text">fcloud</span>
        </div>
        <div>
            <div routerLink="/frtdb" href="#" id="home" class="kfullRound kratior kcenterDeatil  kvflex  kclick ">
                <span class="material-icons">upload</span>
            </div>
            <span class="nav__text">Rtdb</span>
        </div>
    </div>
</nav>

<app-cart></app-cart>














<!-- 
<div class="kcard kround">
    <app-cart></app-cart>
</div>


<div class="kcard kround">
    <app-main-component></app-main-component>
</div> -->


<!-- 


<mat-tab-group [style.width]="'100vw'">
    <mat-tab label="Realtime Database">
        <app-fb-rtdb-nav-ui></app-fb-rtdb-nav-ui>
    </mat-tab>
    <mat-tab label="summit">
        <app-main-component></app-main-component>
    </mat-tab>
    <mat-tab label="Storage"> 
        <app-fb-storage-ui></app-fb-storage-ui>
    </mat-tab>

    <mat-tab label="Cloud Storage">
        <app-task-list></app-task-list>
    </mat-tab>


    
</mat-tab-group> -->