.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 85vh;
}

.package{
    position:fixed;
    right: 5vw;
    top: 15vh;
    height:25vh;
    width: inherit;
    aspect-ratio: 1/1.61;
}

