<div>
    <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'1000'">

        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>
                    <div class="ktitle">What you need to storage</div>
                </ng-template>
                <mat-form-field appearance="fill" [style.width]="'50vw'">
                    <mat-label>Select Upload Type</mat-label>
                    <mat-select #type>
                        <mat-option>None</mat-option>
                        <mat-option value="Item">Item</mat-option>
                        <mat-option value="Page">Page</mat-option>
                        <mat-option value="Block">Block</mat-option>
                    </mat-select>
                </mat-form-field>

                <p>You selected: {{type.value}}</p>

                <div>
                    <button mat-button matStepperNext (click)="packageSet(0,type.value)">Next</button>
                </div>
            </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>What is it called?</ng-template>
                <p>Name: {{box.value}}</p>
                <input #box (keyup)="0" [style.width]="'30vw'">
                <div>
                    <button mat-button matStepperPrevious (click)="packagePop()">Back</button>
                    <button mat-button matStepperNext (click)="packageSet(1,box.value)">Next</button>
                </div>
            </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>What does it store?</ng-template>
                <!-- for input box -->
                <div class="kcard kround">
                    <div class=" kblock ktable kround" *ngFor="let x of content; index as i" id="'content-'{{x}}">
                        <input placeholder="data..." value="">
                        <div class="ktable">
                            <button class="kbar" mat-raised-button (click)="packageContentEdit(i)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-raised-button color="warn" (click)="packageContentRemove(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class=" kcard kcenterDeatil kclick kfullRound" (click)="packageContentPush()">
                        <div class="">
                            <mat-icon>add</mat-icon>
                        </div>
                    </div>
                 </div>


                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext (click)="packageSet(2,this.content)">Next</button>
                </div>

            </form>
        </mat-step>

        <!--  -->
        <!-- <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Enter Your Contact Detail</ng-template>
                <div class="kcard  kround " >
                    <div  >
                        <div class="kblock">Name: {{name.value}}</div>
                        <input  placeholder="Ex. Lee mud mud" value="" #name (keyup)="0">
                    </div>
                    <div>
                        <div class="kblock">Email: {{email.value}}</div>
                        <input  placeholder="Ex. Lee mud mud" value="" #email (keyup)="0">
                    </div>
                    <div>
                        <div class="kblock">Phone number: {{pnum.value}}</div>
                        <input  placeholder="Ex. Lee mud mud" value="" #pnum (keyup)="0">
                    </div>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext
                        (click)="packageSet(2,[name.value,email.value,pnum.value])">Next</button>
                </div>

            </form>
        </mat-step> -->
        <!--  -->

        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Summary</ng-template>
                <div class="kvflex">
                    <div *ngFor="let list of package">
                        <li>{{list}}</li>
                        <input value="{{list}}">
                    </div>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>




        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done. Please click upload to save.
            <div>
                <button mat-button (click)="uploadStepper('')">Upload</button>
                <button mat-button (click)="uploadStepper(69)">69</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>


    </mat-vertical-stepper>



</div>
<!-- 
<div class="btnContainer">
    <app-main-button [outputFunction]="myCallbackFunction"></app-main-button>
</div>
 -->