<mat-toolbar color="primary">
    <div>Title</div>
</mat-toolbar>

<div class="kflex">
    <div class="kcard kround">
        <img class="kimg" src="https://picsum.photos/300/150">
        <div class="ktitle">Title Name</div>
        <div class="kcard">
            <div>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </div>
            <div> </div>
            <div class="ktable ">
                <div class="ktable">Price:</div>
                <div>xxx</div>
                <div class="ktable">Detail:</div>
                <div>xxx</div>
            </div>
        </div>
        <div class="kflex">
            <button mat-stroked-button color="warn">Save</button>
            <button mat-raised-button color="warn" (click)="addToCart('test')">Add to cart</button>
        </div>
    </div>
</div>