<mat-toolbar color="primary">
    <div>Title</div>
</mat-toolbar>

<div class="">
    <div class="kcard kround kvflex">
        <img class="kimg" src="https://picsum.photos/300/150">
        <div class="ktitle">Title Name</div>
        <div class="">
            <div class="kfonts">
                The Shiba Inu is the smallest
            </div>
            <div> </div>
            <div class="ktable ">
                <div class="ktitle">Price:</div>
                <div class="ktitle">xxx</div>
                <div class="ktitle">Detail:</div>
                <div class="ktitle">xxx</div>
            </div>
        </div>
        <div class="kflex">
            <button mat-stroked-button color="warn">Save</button>
            <button mat-raised-button color="warn" (click)="addToCart('Shiba Inu')">Add to cart</button>
        </div>
    </div>
</div>