<div class="kcard kround">
    <!-- add item button -->
    <div class=" ktable">
        <div class=" kcard kcenterDeatil kclick kround" (click)="packageContentPush()">
            <div class="">
                <mat-icon>add</mat-icon>
            </div>
        </div>
        <div class=" kcard kcenterDeatil kclick kround" (click)="packageContentPush()">
            <div class="">
                <mat-icon>add</mat-icon>
            </div>
        </div>
    </div>
    <!-- add item button end-->
    <div>
        <div *ngFor="let item of this.content">{{item}}</div>
    </div>
    <!-- ITEM forloop-->
    <div class="kblock ktable" *ngFor="let x of content; index as i" id="'content-'{{x}}">
        <div class="klist">
            <!-- title -->
            <div class=" kbado kindent klist">
                <div>{{i+1}}:</div>
                <mat-select [(value)]="this.content[i][0]">
                    <mat-option>None</mat-option>
                    <mat-option value="image">Image</mat-option>
                    <mat-option value="name">Name</mat-option>
                    <mat-option value="detail">Detail</mat-option>
                    <mat-option value="price">Price</mat-option>
                </mat-select>
            </div>
            <!-- title end -->
            <!-- content -->
            <div>
                <div class="klist">
                    <input *ngIf="this.content[i][0]!='image'" (blur)="onKey(i,$event,'contentName')"
                        (keyup.enter)="onKey(i,$event,'contentName')" value="{{this.content[i][0]}}">
                </div>
                <div>
                    <!-- content? == image -->
                    <div *ngIf="this.content[i][0]=='image'">
                        <div class="kflex klist " (change)="onKey(i,$event,'contentContent')">
                            <input type="file" style="display: none" #file
                                (change)="onKey(i,$event,'contentContent')" />
                            <!-- <button type="button" class="btn" (click)="file.click()"> Browse </button> -->
                            <button mat-mini-fab color="prima`ry" class="upload-btn" (click)="file.click()"
                                onchange="console.log(event.target.files)" accept=".png,.jpg">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <div>{{this.content[i][1]}}</div>
                        </div>
                        <div class=" kblock kcenterDeatil">
                            <img *ngIf="this.content[i][1]" class="kimg kbado kcard" [src]="this.content[i][1]"
                                (click)="file.click()" height="">
                        </div>
                    </div>
                    <!-- content? != image -->
                    <div *ngIf="this.content[i][0]!='image'">
                        <input (blur)="onKey(i,$event,'contentContent')"
                            (keyup.enter)="onKey(i,$event,'contentContent')" value="{{this.content[i][1]}}">
                    </div>
                </div>
            </div>
            <!-- content end-->
        </div>
        <!-- ITEM control btn -->
        <div class="ktable">
            <button class="kbar" mat-raised-button (click)="0">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="packageContentRemove(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <!-- ITEM forloop ends-->


</div>