.content{
    height: 75vh;
    /*
    background-color:var(--bg-primary); */
}

@media screen and (min-width: 1200px) {
    .content{


    }
  }

#footerSaftyDiv{
    height:15vh;
}
#priContent{
    overflow-x: scroll;
}