.redb{
    width:10vw;
    height: 10vw;
    background-color: red;
}
.greenb{
    width:10vw;
    height: 10vw;
    background-color: green;
}
.greenb{
    width:10vw;
    height: 10vw;
    background-color: blue;
}