<div class="page" id="loginpageContainer">
    <div class="loginblock">    
        <div id="loginDetail">
            <img src={{auth.user$.photoURL}} id="userImage" alt="img" *ngIf="auth.user$!!">
        </div>

        <div id="loginButtonContainer">
            <button class="loginButton" *ngIf="auth.user$ === null" (click)="signin()">Sign-In with Google </button>
            <button class="loginButton" *ngIf="auth.user$!= null" (click)="signout()">Sign-Out</button>
        </div>
</div>



<div class="displayblock" *ngIf=" auth.user$!= null">
    <div class="displayHeader">
        <h6>{{auth.user$.displayName}}</h6>
    </div>
    <div class="displayTable">
        <h6>Welcome : {{auth.user$.displayName}}</h6>
        <h6>uid : {{auth.user$.uid}}</h6>
        <div *ngIf="auth.user$!!">{{auth.user$.uid}}</div>
        <div *ngIf="auth.user$!!">{{auth.user$.email}}</div>
    </div>
</div>
