<div class="chatContainer">
    <mat-toolbar color="primary" d class="chatHeader">
        <mat-form-field appearance="fill">
            <mat-label>{{clientId}}</mat-label>
            <mat-select [(value)]="selected" value="{{clientId}}">
                <mat-option value="{{clientId}}"> {{clientId}} </mat-option>
            </mat-select>
        </mat-form-field>
        message
        <mat-form-field appearance="fill">
            <mat-label>to</mat-label>
            <mat-select [(value)]="selected2">
                <mat-option *ngFor="let user of userArray" value="{{user.uid}}"> {{user.displayName}} </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar>

    <div class="chatDeatil ">
        <div *ngIf="chatArray.length < 1" class=" kcenterDeatil kround">empty</div>
        <div *ngFor="let chat of chatArray" class="chatMessage kcard kround">
            <div *ngIf="chat.fromUsery!=clientId">
                <div class="chatMessageHeader">
                    <div>From:{{chat.fromUser}}</div>
                    <div>{{chat.time}}</div>
                </div>
                <div>To:{{chat.toUser}}</div>
                <div>messages:{{chat.messages}}</div>
            </div>

            <div *ngIf="chat.fromUsery==clientId">
                <div class="chatMessageHeader">
                    <div>From:{{chat.fromUser}}</div>
                    <div>{{chat.time}}</div>
                </div>
                <div>To:{{chat.toUser}}</div>
                <div>messages:{{chat.messages}}</div>
            </div>
        </div>

    </div>



    <div class="chatfooter kfullRound kflex kblock">
        <input class="messageBox" matInput placeholder=" Type message here..." value="" [(ngModel)]="msgBoxInput">
        <button class="kfullRound" (click)="sendMessage('2', msgBoxInput)">
            <span class="material-icons">send</span>
        </button>
    </div>

</div>

<!-- <app-main-button [outputFunction]="myCallbackFunction"></app-main-button> -->