.chatContainer {
    display: grid;
    grid-template-rows: 10% 75% 15%;
    justify-content: space-evenly;
    height: 85vh;
    width: 100vw;
}
.chatDeatil {
    display: flex;
    flex-direction:column;
    justify-content: end;
    width: inherit;
    padding:0%;
    overflow: scroll;
    background-color: var(--bg-primary);
}

.chatMessage{
    min-height: 10vh;
    box-shadow:var(--shadowMin);
}
.chatHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    padding:0%;
}


.chatMessageHeader{
    display: flex;
    justify-content:space-around;
}
.chatfooter {
    display: grid;
    grid-template-columns: 80% 20%;
    width: inherit;
    box-shadow:var(--shadow1);
    justify-content:space-evenly;
    

}
.messageBox{
    height: 100%;
    width: 100%;
}

/* CSS */
.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}