<!-- message menu-->
<div *ngIf="chatRoomSelector == 'undefined'">
    <mat-toolbar color="primary" class="">
        <div class="ktable ">
            <div>Message</div>
        </div>
    </mat-toolbar>
    <div class="kcard kround kpadding">
        <div (click)="selectChatRoom('root')">test : chatroom</div>
    </div>
    <div class="kbar kindent" (click)="selectChatRoom(user.uid.toString())" *ngFor="let user of userArray">
        {{user.displayName}}
    </div>
</div>
<!-- message menu end-->


<!-- message Header -->
<div *ngIf="chatRoomSelector != 'undefined'" id="messageContainer" class="chatContainer  kmax secColor">
    <mat-toolbar color="primary" class=" kmax">
        <div class="klist kmax">
            <div (click)="selectChatRoom('undefined')">home</div>
            <div class="">
                <div>Message to:</div>
                <div>{{chatRoomSelector}}</div>
            </div>
        </div>
    </mat-toolbar>

    <!-- message -->
    <div class="kblock">
        <div *ngIf="chatArray.length < 0" class=" kcenterDeatil kround kflex">Empty</div>
        <div *ngIf="chatArray.length > 0" >
            <div *ngFor="let chat of chatArray" 
                class="kindent chatMessage kcard kround pricolor"
                (dblclick)="tdelete(chat.uid)"
            >
                <!-- other -->
                <div *ngIf="chat.fromUsery!=clientId">
                    <div class="chatMessageHeader">
                        <div>From:{{chat.fromUser}}</div>
                        <div>{{chat.time}}</div>
                    </div>
                    <div>To:{{chat.toUser}}</div>
                    <div>messages:{{chat.messages}}</div>
                </div>
                <!-- self -->
                <div *ngIf="chat.fromUsery==clientId">
                    <div class="chatMessageHeader">
                        <div>From:{{chat.fromUser}}</div>
                        <div>{{chat.time}}</div>
                    </div>
                    <div>To:{{chat.toUser}}</div>
                    <div>messages:{{chat.messages}}</div>
                </div>

            </div>
        </div>
    </div>
    <!-- message end -->

    <!-- Message text box -->
    <div id="chatfooter" class="">
        <input class="messageBox" matInput placeholder=" Type message here..." value="" [(ngModel)]="msgBoxInput" #test>
        <button class="kfullRound kclick kratior" (click)="testSendMessage(test.value)">
            <span class="material-icons">send</span>
        </button>
    </div>
    <!-- Message text box end-->
</div>