.detailContent{
  display:flex;
  flex-direction: column;
  font-size: 3vmin;
  justify-content: flex-start;
  background-color:var(--bg-secondary);
  height: fit-content;
}

.menuDetail{
  display: grid;
  grid-template-rows: 60% 40%;
  height:max-height;
}

.menuDir{
  display:flex;
  flex-direction: column;
}

.menuHeader{
  display:grid;
  grid-template-columns: 15% 15% 70% ;
}

.menuContainer{
    aspect-ratio: 1/0.39;
    display:grid;
    grid-template-rows:10% 45% 45% ;
    box-shadow: var(--shadow1);
    align-items: center;
}
.test{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 3vmin;
  height:inherit;
}
.test:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-size: 3vmin;
}
.testItem{
  display:grid;
  grid-template-columns: 40% 60% ;
  padding-left:5%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-size: 2vmin;
}
