<div>
  <mat-toolbar color="primary">
    <span>rt-DataBase Viewer</span>
  </mat-toolbar>



  <div class="kvtable">

    <div class="kflex">
      <div class="test" (click)="goNode('root')">home</div>
      <div class="test" (click)="NavNode(-1)">back</div>
      <div class="test">{{this.dir}}</div>
    </div>


    <div class="">

      <div class="">
        <div class="testItem" *ngFor="let item of container; index as i;">
          <div (click)="getNode(item)"><div>{{item.toString()}}</div></div>
          <div (click)="peekChild(item)">
            <div mat-button *ngIf="containerChild[i].toString()=='[object Object]'">Peek...</div>
            <div *ngIf="containerChild[i].toString()!='[object Object]'">
              {{containerChild[i]}}
            </div>
          </div>
        </div>
      </div>

      <div class="kcard">
        <div class="testItem" *ngFor="let item2 of containerChildDetail; index as i;">{{item2}}</div>
      </div>

    </div>
  </div>

</div>