<div class="kcard kround kvtable priColor kratioh">
    <div class="secColor klist ">
        <div class=" kindent ">
            <div class="klist ">
                <div (click)="test('testa/testb/testc')" class=" kclick kcenterDeatil">home</div>
                <div class="kflex">
                    <div class=" kclick kcenterDeatil">prev</div>
                    <div class=" kclick kcenterDeatil">next</div>
                </div>
            </div>
            <div class="  ">{{collectionDir}}</div>
        </div>
        <div class="ktable">
            <input class="kcapRound kbado" value="{{fileHolder.uid}}" #collectionDirInput>
            <button type="button" class="kclick kround kbado "
                (click)="selectCollection(collectionDirInput.value)">Search</button>
        </div>
    </div>

    <div class="klist">
        <div class="kblock">
            <div class="kbar kindent kmax" (click)="selectDocuemnt(item)" *ngFor="let item of curCollection | async; let i = index">
                <div *ngIf="item.flag!='collection'">
                    <div *ngIf="item.name">{{i}}- {{item.name}}</div>
                    <div *ngIf="item.name==null">{{i}}- {{item.uid}}</div>
                </div>
                <div (click)="selectDocuemnt(item)" *ngIf="item.flag=='collection'">
                    <div>>{{item.uid}}</div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="kcard kround kvtable kbado">
            <div class="secColor kindent" *ngIf="docSelector.name && docSelector">
                <div>{{docSelector.title}}:{{docSelector.timeStamp}}</div>
            </div>
            <div class="kindent ">
                <div class="kblock klist kindent" *ngFor="let item of docSelector | keyvalue">
                    <div>{{item.key}}</div>
                    <div> :<input value="{{item.value}}"></div>
                    <div *ngIf="item.key=='childCollection'" (click)="selectCollection(this.collectionDir+'/'+fileHolder.uid+'/'+item.value)" class="kblock kcenterDeatil kclick kround kbado" >
                        <div>Enter File -></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->

<div class="kcard kround kratioh secColor">
    <div class=" kvtable kmax">
        <div class=" klist">
            <div class="kcenterDeatil">Title:{{fileHolder.title}}</div>
            <div class="priColor" *ngIf="fileHolder!=undefined">
                <div>Dir: {{collectionDir}}/{{fileHolder.uid}}</div>
                <div>Name:{{fileHolder.name}}</div>
            </div>
        </div>
        <div class="kblock kindent kround kvflex">
            <div class="klist">
                <div>uid:</div>
                <div>{{fileHolder.uid}}</div>
            </div>
            <div class="klist">
                <div>name:</div>
                <input (keyup.enter)="editFileHolder('name',name.value)"
                (blur)="editFileHolder('name',name.value);  " value="{{fileHolder.name}}" #name>
            </div>
            <div class="klist">
                <div>Date:</div>
                <input (keyup.enter)="editFileHolder('uid',Date.value)"
                (blur)="editFileHolder('Date',Date.value);  " value="{{fileHolder.timeStamp}}" #Date>
            </div>
            <div class="klist">
                <div>title:</div>
                <input (keyup.enter)="editFileHolder('title',title.value)"
                (blur)="editFileHolder('title',title.value);  " value="{{fileHolder.title}}" #title>
            </div>
            <div class="klist">
                <div>content:</div>
                <input (keyup.enter)="editFileHolder('content',content.value)"
                (blur)="editFileHolder('content',content.value);  " value="{{fileHolder.content}}" #content>
            </div>
            <div class="kblock kflex kmax">
                <button class="kbutton kratior kround" (click)="test((collectionDir+'/'+fileHolder.uid))">Create</button>
                <button class="kbutton kratior kround" (click)="deleteDoc(collectionDir,fileHolder.uid)">Delete</button>
                <button class="kbutton kratior kround" (click)="test((collectionDir+'/'+fileHolder.uid))">Save</button>
            </div>
        </div>
    </div>
</div>
