<mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.task.title" />
</mat-form-field>

<select matInput [(ngModel)]="data.task.description">
    <option value="1">Slidshow</option>
    <option value="2">Item</option>
    <option value="3">Grid</option>
    <option value="3">detail</option>
</select>

<mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.task.description"></textarea>
</mat-form-field>

<div mat-dialog-actions>
    <button *ngIf="data.enableDelete" mat-fab color="primary" aria-label="Delete" [mat-dialog-close]="{ task: data.task, delete: true }">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
</div>