<mat-toolbar color="primary">
    <div>Grid</div>
</mat-toolbar>

<div class="example-card">

    <div class="kgrid">

        <div class="kvflex kcard" *ngFor="let x of watchh; index as i;">
            <img mat-card-image class="testItemImg" src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/56203729_850936525256815_7595995863109861376_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=LZeZuy-1pqIAX9U2fr7&_nc_ht=scontent-lhr8-1.xx&oh=00_AT8Y52nPyJg97bRaUoi1aNflqngNW61xU3CO-V5uWSuG-A&oe=63247F42">
            <div class="kcardDeatil">
                <img class="kiconImg" src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/55944989_850122328671568_426981811499827200_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=lbpb_syRAPIAX8KPNcP&_nc_ht=scontent-lhr8-1.xx&oh=00_AT-lkC-mMlgWyYpze0Wuc3yH8Oewk2QsQr6pKhb5749peg&oe=6324F0E2">
                <div class="kvflex">
                    <div>{{x[0]}}</div>
                    <div>{{x[1]}}</div>
                </div>
            </div>
        </div>
        <div class="kvflex kcard" *ngFor="let x of watchh; index as i;">
            <img mat-card-image class="testItemImg" src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/56203729_850936525256815_7595995863109861376_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=LZeZuy-1pqIAX9U2fr7&_nc_ht=scontent-lhr8-1.xx&oh=00_AT8Y52nPyJg97bRaUoi1aNflqngNW61xU3CO-V5uWSuG-A&oe=63247F42">
            <div class="kcardDeatil">
                <img class="kiconImg" src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/55944989_850122328671568_426981811499827200_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=lbpb_syRAPIAX8KPNcP&_nc_ht=scontent-lhr8-1.xx&oh=00_AT-lkC-mMlgWyYpze0Wuc3yH8Oewk2QsQr6pKhb5749peg&oe=6324F0E2">
                <div class="kvflex">
                    <div>{{x[0]}}</div>
                    <div>{{x[1]}}</div>
                </div>
            </div>
        </div>
        <div class="kvflex kcard" *ngFor="let x of watchh; index as i;">
            <img mat-card-image class="testItemImg" src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/56203729_850936525256815_7595995863109861376_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=LZeZuy-1pqIAX9U2fr7&_nc_ht=scontent-lhr8-1.xx&oh=00_AT8Y52nPyJg97bRaUoi1aNflqngNW61xU3CO-V5uWSuG-A&oe=63247F42">
            <div class="kcardDeatil">
                <img class="kiconImg" src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/55944989_850122328671568_426981811499827200_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=lbpb_syRAPIAX8KPNcP&_nc_ht=scontent-lhr8-1.xx&oh=00_AT-lkC-mMlgWyYpze0Wuc3yH8Oewk2QsQr6pKhb5749peg&oe=6324F0E2">
                <div class="kvflex">
                    <div>{{x[0]}}</div>
                    <div>{{x[1]}}</div>
                </div>
            </div>
        </div>

    </div>

</div>