<mat-toolbar color="primary">
    <div>Grid</div>
</mat-toolbar>
<div class="example-card">

    <div class="kgrid">

        <div class="kvflex kcard" *ngFor="let x of watchh; index as i;">
            <img mat-card-image class="testItemImg" src="">
            <div class="kcardDeatil">
                <img class="kiconImg" src=""+>
                <div class="kvflex">
                    <div>{{x[0]}}</div>
                    <div>{{x[1]}}</div>
                </div>
            </div>
        </div>
       
    </div>

</div>