/* You can add global styles to this file, and also import other style files */
/*hide scrollbar*/
.page {
  height: 85vh;
  width: 100vw;
  background-color: var(--bg-primary);
  overflow: scroll;
}


::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

:root {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  --text-primary: red;
  --text-secondary: blue;
  /* --bg-primary: #c4c4c4; */
  --bg-secondary: #c4c4c4;
  /* --bg-secondary: #e5e5e5; */
  --bg-primary: #e5e5e5;
  --white: white;
  --black: rgb(40, 40, 40);
  --shadow1: rgb(38, 57, 77) 0px 20px 30px -10px,rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  --shadow2: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  --shadowMin: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

  html,body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* disable menu css */
menu {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.cdk-drag-animating {
  transition: transform 250ms;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.kcard{
  box-shadow:var(--shadow2);
  overflow: hidden;
  font-size: 3vmin;
  background-color: var(--white);
  margin-top: 10%;
}
.kround {
  height: 100%;
  width: 100%;
  border-radius: 2vmax;
}

.kcardDeatil{
  display: flex;
  font-size: 40%;
  justify-content: space-around;
}

.kbutton {
  font-size: 2vmin;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 0.5vmin solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  margin: 0.5vh;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
}
.kbutton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.kbutton:focus{
  background-color:var(--white);
}


.kblock{ 
  min-height:10vh;
  margin-top: 1vw;
  aspect-ratio: 1.61/1;
  overflow: hidden;
  background-color: var(--white);
}

.kflex{
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  padding:0.5%;
}
.kvflex{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  padding:0.5%;
}
.kflexColumn{
  display: flex;
  flex-direction: column;
}
.ktable{
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-evenly;
  overflow-x: scroll;
}
.kvtable{
  display: grid;
  grid-template-rows: 20% 80%;
  justify-content: space-evenly;
  overflow-x: scroll;
}
.kgrid{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-evenly;
  overflow: hidden;
}

.kiconImg{
  background-image: url("https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/55944989_850122328671568_426981811499827200_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=lbpb_syRAPIAX8KPNcP&_nc_ht=scontent-lhr8-1.xx&oh=00_AT-lkC-mMlgWyYpze0Wuc3yH8Oewk2QsQr6pKhb5749peg&oe=6324F0E2");
  background-size: cover;
  border-radius: 50%;
  width:30%;
}
.kicon{
  border-radius: 50%;
  width:30%;
}
.ktitle{
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  font-size: 3vw;
}





/*  */
html {
  font-size: 1.5vw;
}
@media screen and (min-width: 320px) {
  html {
    /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
    font-size: 3vw;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 2vmin;
  }
}
/*  */








/* css debug mode */


/* 
* {
    background-color: rgba(255, 0, 0, .1);
}

* * {
    background-color: rgba(0, 255, 0, .1);
}

* * * {
    background-color: rgba(0, 0, 255, .1);
}

* * * * {
    background-color: rgba(255, 0, 255, .1);
}

* * * * * {
    background-color: rgba(0, 255, 255, .1);
}

* * * * * * {
    background-color: rgba(255, 255, 0, .1);
}

* * * * * * * {
    background-color: rgba(255, 0, 0, .1);
}

* * * * * * * * {
    background-color: rgba(0, 255, 0, .1);
}

* * * * * * * * * {
    background-color: rgba(0, 0, 255, .1);
} 
*/
